<div box titulo="Adicionar Pessoa" cor="info">


	<div class="row">
		<div class="col-md-4">
			<div dxselectx titulo="Situação" opcoes="filiais" modelo="filial" orientacao="vertical"></div>
		</div>
		<div class="col-md-4">
			<dxinputv tipo="TEXT" id="" titulo="Nome" dica="Nome" modelo="nome">
			</dxinputv>
		</div>
		<div class="col-md-4">
			<dxinputv tipo="NUMBER" id="" titulo="Código" dica="código" modelo="id">
			</dxinputv>
		</div>
		
	</div>

	<div class="box-footer">
		<button class="btn bg-blue pull-right " type="button" ng-click="ok()">Gravar</button>
		<button class="btn bg-default pull-right " type="button" ng-click="ok()">Cancelar</button>
	</div>


</div>