<div box titulo="Pessoa" cor="info">

	<div class="row">
		<div class="col-md-12">

			<div class="mailbox-controls">
				<!-- Check all button -->
				<button type="button" class="btn btn-default btn-sm checkbox-toggle" ng-click="addPessoa('lg')"><i class="fa fa-plus"></i> Adicionar
				</button>
				<div class="btn-group">


					<button type="button" class="btn btn-default btn-sm"><i class="fa fa-print"></i> Imprimir</button>
				</div>


			</div>


		</div>
	</div>


	<div class="row">
		<div class="col-md-4">
			<div dxselectv titulo="Situação" opcoes="listaSituacao" modelo="filtro.situacao" orientacao="vertical"></div>
		</div>
		<div class="col-md-4">
			<dxinputv tipo="TEXT" id="" titulo="Nome" dica="Nome" modelo="filtro.nome">
			</dxinputv>
		</div>
		<div class="col-md-2">
			<dxinputv tipo="NUMBER" id="" titulo="Código" dica="código" modelo="filtro.id">
			</dxinputv>
		</div>

		<!--<div class="col-md-2">
			<div dxbutton icon="" cor="blue" titulo="Aplicar filtro" modelo="btnFiltro"></div>
		</div>-->

		<div class="col-md-2">
			<div class="form-group">
				<button type="button" ng-click="filtrar()" class="form-control btn bg-blue" style="margin: 24px 0px 24px;"><i class="fa"></i> Aplicar Filtro</button>
			</div>
		</div>



	</div>


	<!--
	<div class="row">
		<div class="col-md-3">
			<div dxselectv titulo="Tipo" opcoes="tipoFaturas" modelo="tipofatura" orientacao="vertical"></div>
		</div>
		<div class="col-md-3">
			<div dxselectv titulo="Situação" opcoes="situacaoFaturas" modelo="situacaoFatura" orientacao="vertical"></div>
		</div>
		<div class="col-md-3">
			<dxdate titulo="Data" modelo="emissao" opcoes="optSimples"></dxdate>
		</div>
		<div class="col-md-3">
			<div dxbutton icon="" cor="blue" titulo="Filtrar" modelo=""></div>
		</div>
	</div>-->




	<div class="row">
		<div class="col-md-12">
			<div ui-grid="pessoaOptions" ui-grid-move-columns ui-grid-pagination class="grid"></div>
		</div>
	</div>


</div>